{% extends 'base.html' %}
{% if messages %}
{% for message in messages %}
{% endfor %}
{% endif %}
{% block content %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<form method="POST" action="{% url 'home' %}">
   {% csrf_token %}
    <button type="submit" class="btn btn-info" type="submit">Back</button>
</form>

<form method="POST" action="{% url 'addGroup' %}">
    <table>
        <tr>
            <td>
                <span class="label label-info">Select semester</span><br>
                <select title="Select semester" class="selectpicker" name="semester">
                      {% for i in '123456789'|make_list %}
                            <option>Semester   {{ forloop.counter }} </option>
                          {% endfor %}
                </select>
            </td>
            <td>
                <span class="label label-info">Select subject</span><br>
                <select title="Select subject" class="selectpicker"  name="subject">
                      {% for subject in subjects %}
                            <option> {{ subject }} </option>
                          {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <div class="form-group">
              <label for="usr">Group</label>
              <input type="text" class="form-control" id="usr"  name="group">
            </div>
            <span class="label label-info">ex: KV-71, Kv-72, LE-31</span>
        </tr>
    </table>
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-info" type="submit">Save</button>
</form>

{% endblock %}