{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% endfor %}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>



<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <a id="download" download="" href="">download</a>
</div>
{% if state|length == 1  %}
 <div id="map" style="width: 500px; height: 400px;"></div>
{% elif state|length == 2 %}
<form method="POST" action="{% url 'home' %}">
   {% csrf_token %}
    <button type="submit" class="btn btn-info" type="submit">Back</button>
</form>
{% endif %}
<div class="alert alert-{{ message.tags }}">
   {{ message }}
</div>


<h4>Welcome, {{ user.get_full_name }}<br>Username: <small>{{ user.username }}</small></h4>
<p>Your email address: {{ user.email }}</p>

<script>
   var data = "";
   var token = '{{csrf_token}}';
   var email = '{{user.email}}';
   var groups = [];
   var semester = "";
   var  subject = "";

   function showTable(){
        groups = [];
        semester = "";
        subject = "";
        //alert(groups.length);
         var eGroups = document.getElementById("groups");
         for ( var i = 0, len = eGroups.options.length; i < len; i++ ) {
            opt = eGroups.options[i];
            if ( opt.selected === true ) {
               groups.push(opt.value || opt.text);
            }
           //s += eGroups.options[eGroups.selectedIndex + i].value + " ";
         }

         var eSemester = document.getElementById("semester");
         semester = eSemester.options[eSemester.selectedIndex].text;
         var eSubject = document.getElementById("subject");
         subject = eSubject.options[eSubject.selectedIndex].text;
         //alert(3);
       $.ajax({
          headers: { "X-CSRFToken": token },
          url: "/showTable/",
          type : "POST", // http method
          data: {
            email : email,
            groups : groups,
            subject : subject,
            semester : semester
            },
          dataType: 'html',
          success: function (data) {
            // alert(1);
            // var received = JSON.parse(JSON.stringify(data));
             $("html").html(data);
            //console.log(data);
            if (data.is_taken) {
              alert(response.error_message);
            }
          }
         });
   }
    function downloadCSV(){
        groups = [];
        semester = "";
        subject = "";
        //alert(groups.length);
         var eGroups = document.getElementById("groups");
         for ( var i = 0, len = eGroups.options.length; i < len; i++ ) {
            opt = eGroups.options[i];
            if ( opt.selected === true ) {
               groups.push(opt.value || opt.text);
            }
           //s += eGroups.options[eGroups.selectedIndex + i].value + " ";
         }

         var eSemester = document.getElementById("semester");
         semester = eSemester.options[eSemester.selectedIndex].text;
         var eSubject = document.getElementById("subject");
         subject = eSubject.options[eSubject.selectedIndex].text;
         //alert(3);
       $.ajax({
          headers: { "X-CSRFToken": token },
          url: "/importToCSV/",
          type : "POST", // http method
          data: {
            email : email,
            groups : groups,
            subject : subject,
            semester : semester
            },
          dataType: 'html',
           error: function (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                msg = 'Time out error.';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
              $('#post').html(msg);
           // alert(msg);
        },
          success: function (data) {
            //alert("FILE");
            $("a#download").attr({
            "download" :  "schedule.csv",
            "href" : "data:text/csv," + data /* data[0] */
            }).get(0).click();
            //var a = document.createElement('a');
            //var url = window.URL.createObjectURL(data);
            //a.href = url;
            //a.download = 'schedule.csv';
            //document.body.append(a);
            //a.click();
            //a.remove();
            //window.URL.revokeObjectURL(url);

            if (data.is_taken) {
              alert(data.error_message);
            }
          }
         });
   }
   function getLocation() {
         if (navigator.geolocation) {
            groups = [];
            semester = "";
            subject = "";
             var eGroups = document.getElementById("groups");
             for ( var i = 0, len = eGroups.options.length; i < len; i++ ) {
                opt = eGroups.options[i];
                if ( opt.selected === true ) {
                   groups.push(opt.value || opt.text);
                }
               //s += eGroups.options[eGroups.selectedIndex + i].value + " ";
             }

             var eSemester = document.getElementById("semester");
             semester = eSemester.options[eSemester.selectedIndex].text;
             var eSubject = document.getElementById("subject");
             subject = eSubject.options[eSubject.selectedIndex].text;
             navigator.geolocation.getCurrentPosition(showPosition);
         } else {

         }
       }


       function showPosition(position) {
         // alert(groups.length);
           $.ajax({
              headers: { "X-CSRFToken": token },
              url: "/location/teacher/",
              type : "POST", // http method
              data: {
                latitude : position.coords.latitude ,
                longitude : position.coords.longitude,
                email : email,
                groups : groups,
                subject : subject,
                semester : semester
                },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  alert(data.error_message);
                }
              }
             });
       }

     var obj = $.parseJSON('{{json_st | safe}}');
     console.log(obj);
     var locations = new Array(parseInt(obj.length / 4));
     for (j = 0; j < locations.length; j++){
         locations[j] = [obj[1 + 4*j], obj[2+ 4*j], obj[3 + 4*j], obj[4*j].toString()];
     }
     console.log();
    if ( locations.length > 0)
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 60,
      center: new google.maps.LatLng(locations[0][1], locations[0][2]),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
    console.log(locations[i][1] + " " + i + "  " + locations[i][2]);
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(parseFloat(locations[i][1]), parseFloat(locations[i][2])),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>
{% if state|length == 1  %}
<button type="submit" class="btn btn-info" onclick="getLocation()">Start Lecture</button>
<button type="submit" class="btn btn-warning" onclick="finishLecture()">Finish Lecture</button>

<h4><br>
<table>
    {% for elem in content %}
        <p>Number of students : {{elem}}</p>
    {% endfor %}
</table>
</h4>

<table>
    <tr>
        <td>
            <span class="label label-info">Select semester</span>
            <select title="Select semester" class="selectpicker" id="semester">
                  {% for i in '123456789'|make_list %}
                        <option>Semester   {{ forloop.counter }} </option>
                      {% endfor %}
            </select>
        </td>
        <td>
            <span class="label label-info">Select subject</span>
            <select title="Select subject" class="selectpicker" id="subject" >
                  {% for subject in subjects %}
                        <option> {{ subject }} </option>
                      {% endfor %}
            </select>
        </td>
        <td>
            <span class="label label-info">Select Groups</span>
            <select class="selectpicker" multiple data-live-search="true" id="groups">
                {% for group in groups %}
                    <option> {{ group }} </option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
<!-- Show table -->

<br>
<table>
    <tr>
        <td>
            <button type="button" class="btn btn-info" onclick="showTable()">Show table</button>
        </td>
         <td>
             <button type="button" class="btn btn-info" onclick="downloadCSV()">Import to .CSV</button>
         </td>
        <td>
            <form method="POST" action="{% url 'groupIndex' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-info" type="submit">Add Group</button>
            </form>
        </td>
        <td>
            <form method="POST" action="{% url 'subjectIndex' %}">
               {% csrf_token %}
                <button type="submit" class="btn btn-info" type="submit">Add Subject</button>
            </form>
        </td>
    </tr>
</table>

{% endif %}
<!-- Show table-->
<br>
    <table class="table table-sm"  border="2">
    <h4>
        <tr>
        {% for col in cols %}
            <th>{{col}}</th>
        {% endfor %}
        </tr>
    </h4>
        {% if state|length == 1 %}
              {% for student in students %}
                <tr>
                    <th>{{student.number}}</th>
                    <th>{{student.first_name}}</th>
                    <th>{{student.second_name}}</th>
                    <th>{{student.group}}</th>
                    <th>{{student.latitude}}</th>
                    <th>{{student.longitude}}</th>
                    <th>{{student.date}}</th>
                </tr>
            {% endfor %}
        {% else %}
            {% for name,row in rows.items %}
                <tr>
                       <th>{{name}}</th>
                    {% for r in row %}
                        <th>{{r}}</th>
                    {% endfor %}
                </tr>
         {% endfor %}
        {% endif %}

    </table>

{% endblock %}