{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
   {{ message }}
</div>
{% endfor %}
{% endif %}
<h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
<p>Your email address: {{ user.email }}</p>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   var data = "";
   var token = '{{csrf_token}}';
   var email = '{{user.email}}';
   function getLocation() {
         if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(showPosition);
         } else {

         }
       }
       function showPosition(position) {
           $.ajax({
              headers: { "X-CSRFToken": token },
              url: "/location/teacher/",
              type : "POST", // http method
              data: {latitude : position.coords.latitude , longitude : position.coords.longitude, email : email },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  alert(data.error_message);
                }
              }
             });
       }

</script>
<button type="submit" class="btn btn-info" onclick="getLocation()">Start Lecture</button>
    <h4>
    {% for st in students %}
        <p> Number of students:  {{st}}</p>
    {% endfor %}
    </h4>
    <table>
    {% for elem in content %}
        <p>{{elem}}</p>
    {% endfor %}
    </table>

{% endblock %}