{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
 <div id="map" style="width: 500px; height: 400px;"></div>

<div class="alert alert-{{ message.tags }}">
   {{ message }}
</div>

<button type="submit" class="btn btn-success" onclick="addGroup()">Add Group</button>
<button type="submit" class="btn btn-success" onclick="addSubject()">Add Subject</button>
<h4>Welcome, {{ user.get_full_name }}<br>Username: <small>{{ user.username }}</small></h4>
<p>Your email address: {{ user.email }}</p>

<script>
   var data = "";
   var token = '{{csrf_token}}';
   var email = '{{user.email}}';
   function getLocation() {
         if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(showPosition);
         } else {

         }
       }
       function showPosition(position) {
           $.ajax({
              headers: { "X-CSRFToken": token },
              url: "/location/teacher/",
              type : "POST", // http method
              data: {latitude : position.coords.latitude , longitude : position.coords.longitude, email : email },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  alert(data.error_message);
                }
              }
             });
       }

     var obj = $.parseJSON('{{json_st | safe}}');
     console.log(obj);
     var locations = new Array(parseInt(obj.length / 4));
     for (j = 0; j < locations.length; j++){
         locations[j] = [obj[1 + 4*j], obj[2+ 4*j], obj[3 + 4*j], obj[4*j].toString()];
     }
     console.log();

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 60,
      center: new google.maps.LatLng(locations[0][1], locations[0][2]),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
    console.log(locations[i][1] + " " + i + "  " + locations[i][2]);
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(parseFloat(locations[i][1]), parseFloat(locations[i][2])),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>
<button type="submit" class="btn btn-info" onclick="getLocation()">Start Lecture</button>
<button type="submit" class="btn btn-warning" onclick="finishLecture()">Finish Lecture</button>
<h4><br>
<table>
    {% for elem in content %}
        <p>Number of students : {{elem}}</p>
    {% endfor %}
</table>
</h4>
<table>
    <tr>
        <td>
            <span class="label label-info">Select semester</span>
            <select title="Select semester" class="selectpicker" >
                  {% for i in '123456789'|make_list %}
                        <option value="India">Semester   {{ forloop.counter }} </option>
                      {% endfor %}
            </select>
        </td>
        <td>
            <span class="label label-info">Select subject</span>
            <select title="Select subject" class="selectpicker">
                  {% for i in '123456789'|make_list %}
                        <option value="India">Subject   {{ forloop.counter }} </option>
                      {% endfor %}
            </select>
        </td>
        <td>
            <span class="label label-info">Select Groups</span>
            <select class="selectpicker" multiple data-live-search="true">
                {% for i in '123456789'|make_list %}
                    <option>Group   {{ forloop.counter }} </option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
<!-- Basic dropdown -->

<!-- Basic dropdown -->
<h4><br><br>
    <table   border="2">
        <tr>
            <th>Number</th>
            <th>First Name</th>
            <th>Second name</th>
            <th>Group</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date</th>
        </tr>

        {% for student in students %}
        <tr>
            <th>{{student.number}}</th>
            <th>{{student.first_name}}</th>
            <th>{{student.second_name}}</th>
            <th>{{student.group}}</th>
            <th>{{student.latitude}}</th>
            <th>{{student.longitude}}</th>
            <th>{{student.date}}</th>
        </tr>
    {% endfor %}
    </table>
    </h4>
{% endblock %}