{% extends 'base.html' %}

{% block content %}

  <h1 class="mt-2">Login</h1>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input  class="btn btn-primary" type="hidden" name="next" value="{{ next }}" />
  <div id = "div_id_username" class="form-group">
    <label for="id_username"  class="col-form-label  requiredField">Username:</label>
    <input type="text" class="form-control" name="username" id="id_username">
  </div>
  <div id = "div_id_password1" class="form-group">
    <label for="id_password" class="col-form-label  requiredField">Password:</label>
    <input type="password" class="form-control" id="id_password" name='password' placeholder="Password">
  </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <a  class="btn btn-primary" href="{% url 'signupStudent' %}" role="button">Sign Up</a>
  </form>

{% endblock %}
